
<div class="list-group">
    <%categories.forEach(category=>{%>
    <div class="list-group-item">
        <div class="row-action-primary">
            <i class="material-icons">folder</i>
        </div>
        <div class="row-content">
            <div class="least-content category-remove" data-value="<%=category['name_'+selectedLanguage]%>">Remove</div>
            <h4 class="list-group-item-heading"><%=category['name_'+selectedLanguage]%></h4>
        </div>
    </div>
    <div class="list-group-separator"></div>
    <%})%>

</div>

<div style="bottom: 25px;right: 15px;position: absolute;">
    <a class="btn btn-danger btn-fab" data-toggle="modal" data-target="#add-category-dialog">
        <i class="material-icons">add</i>
    </a>
</div>

<div id="add-category-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal" name="addCategory" action="/admin/category" method="post">
                    <fieldset>
                        <legend>Add category</legend>
                        <% languages.forEach(language=>{ %>
                        <% if(language.checked === true){ %>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="name" name="name_<%= language.name %>"
                                       placeholder="Category name in <%= language.name %>">
                            </div>
                        </div>
                        <% } %>
                        <% }) %>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#add-category-dialog">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
