<nav class="eltd-main-menu eltd-drop-down eltd-default-nav sticky">
    <ul id="menu-main" class="clearfix">
        <li id="sticky-nav-menu-item-7534"
            class="menu-item menu-item-type-custom menu-item-object-custom anchor-item  narrow">
            <a href="/tours" class=""><span class="item_outer"><span
                            class="item_inner"><span class="menu_icon_wrapper"><i
                                    class="menu_icon null fa"></i></span><span
                                class="item_text"><%=__('Tours')%></span></span><span
                            class="plus"></span></span></a></li>
        <li id="sticky-nav-menu-item-7535"
            class="menu-item menu-item-type-custom menu-item-object-custom anchor-item  narrow">
            <a href="/gallery" class=""><span class="item_outer"><span class="item_inner"><span
                                class="menu_icon_wrapper"><i
                                    class="menu_icon null fa"></i></span><span
                                class="item_text"><%=__('Gallery')%></span></span><span
                            class="plus"></span></span></a></li>
        <li id="sticky-nav-menu-item-7536"
            class="menu-item menu-item-type-custom menu-item-object-custom anchor-item  narrow">
            <a href="/about" class=""><span class="item_outer"><span class="item_inner"><span
                                class="menu_icon_wrapper"><i
                                    class="menu_icon null fa"></i></span><span
                                class="item_text"><%=__('About')%></span></span><span
                            class="plus"></span></span></a></li>
        <li id="sticky-nav-menu-item-7562"
            class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a
                    href="/contacts" class=""><span class="item_outer"><span
                            class="item_inner"><span class="menu_icon_wrapper"><i
                                    class="menu_icon blank fa"></i></span><span
                                class="item_text"><%=__('Contacts')%></span></span><span class="plus"></span></span></a>
        </li>
    </ul>
</nav>