<% include header %>
<link rel="stylesheet" href="/css/contacts.css" type="text/css" />
<div class="eltd-content">
    <div class="eltd-meta">

        <div class="eltd-seo-title">About Us – Obsidian roads</div>

        <span id="eltd-page-id">1479</span>
        <div class="eltd-body-classes">
            page,page-id-1479,page-template,page-template-full-width,page-template-full-width-php,eltd-core-1.0,woocommerce-wishlist,woocommerce,woocommerce-page,woly-ver-1.0,eltd-smooth-scroll,eltd-smooth-page-transitions,eltd-mimic-ajax,eltd-grid-1200,eltd-blog-installed,eltd-main-style1,eltd-disable-fullscreen-menu-opener,eltd-header-standard,eltd-sticky-header-on-scroll-up,eltd-default-mobile-header,eltd-sticky-up-mobile-header,eltd-menu-item-first-level-bg-color,eltd-dropdown-default,eltd-,eltd-header-standard-disable-transparency,eltd-fullscreen-search
            eltd-search-fade,eltd-woocommerce-columns-3,wpb-js-composer js-comp-ver-4.12,vc_responsive
        </div>
    </div>
    <div class="eltd-content-inner">
        <div class="eltd-title eltd-standard-type eltd-type-out-yes eltd-has-background eltd-has-parallax-background eltd-content-left-alignment eltd-animation-no eltd-title-image-not-responsive"
             style="height: 564px; background-color: rgb(235, 235, 235); background-image: url(&quot;http://woly.elated-themes.com/wp-content/uploads/2016/06/Our-Team-12.jpg&quot;); background-position: center 0px;"
             data-height="564" data-background-width="&quot;1920&quot;">
            <div class="eltd-title-image"><img
                        src="http://woly.elated-themes.com/wp-content/uploads/2016/06/Our-Team-12.jpg" alt="&nbsp;">
            </div>
            <div class="eltd-title-holder" style="height:564px;">
                <div class="eltd-container clearfix">
                    <div class="eltd-container-inner">
                        <div class="eltd-title-subtitle-holder" style="">
                            <div class="eltd-title-subtitle-holder-inner">
                                <h1 style="color:#ffffff" class="eltd-title-size-large">
                                    <span>About Us</span>
                                    <span class="eltd-typed-wrap  eltd-typing" style="display:inline">
                                        <span class="eltd-typed"
                                              style="background-color: #333;color: #fff;display: inline;">A</span><span
                                                class="typed-cursor"></span>
                                    </span>
                                </h1>
                                <span class="eltd-subtitle" style="color:#ffffff;"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm tempor incididunt<br>ut labore et dolore magna iscing elit, sed do eiusmod tempor inci. </span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="eltd-full-width">
            <div class="eltd-full-width-inner">
                <div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1468326608842 eltd-content-aligment-center eltd-grid-section"
                     style="">
                    <div class="clearfix eltd-section-inner">
                        <div class="eltd-section-inner-margin clearfix">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-2 vc_col-lg-8 vc_col-md-offset-1 vc_col-md-10">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="eltd-section-title-outer-holder" style="text-align: center">
                                            <div class="eltd-section-title-title-holder">
		<span class="eltd-section-title" style=";">
			General Questions		</span>
                                            </div>

                                            <div class="eltd-section-subtitle-holder">
		<span class="eltd-section-subtitle" style=";">
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.		</span>
                                            </div>

                                        </div>
                                        <div class="vc_empty_space" style="height: 20px"><span
                                                    class="vc_empty_space_inner"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1468326669616 eltd-content-aligment-center eltd-grid-section"
                     style="">
                    <div class="clearfix eltd-section-inner">
                        <div class="eltd-section-inner-margin clearfix">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 150px;"></div>
                <div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1468329474883 eltd-content-aligment-left eltd-grid-section"
                     style="">
                    <div class="clearfix eltd-section-inner">
                        <div class="eltd-section-inner-margin clearfix">
                            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="eltd-iwt eltd-iwt-icon-top eltd-iwt-circle-holder eltd-iwt-icon-tiny">
                                            <div class="eltd-iwt-icon-holder">

    <span class="eltd-icon-shortcode circle"
          style="width: 95px;height: 95px;line-height: 95px;border-style: solid;border-width: 1px">
                    <a class="" href="#" target="_self" style="color: rgb(125, 191, 184);">

        <i class="eltd-icon-linear-icon lnr lnr-camera eltd-icon-element" style="font-size:32px"></i>
                    </a>
            </span>

                                            </div>
                                            <div class="eltd-iwt-content-holder" style="padding: 0 20px">
                                                <div class="eltd-iwt-title-holder">
                                                    <h4>
                                                        Working hours </h4>
                                                </div>

                                                <div class="eltd-iwt-text-holder">
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                        accusa ntium doloremque.</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 20px"><span
                                                    class="vc_empty_space_inner"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="eltd-iwt eltd-iwt-icon-top eltd-iwt-circle-holder eltd-iwt-icon-tiny">
                                            <div class="eltd-iwt-icon-holder">

    <span class="eltd-icon-shortcode circle"
          style="width: 95px;height: 95px;line-height: 95px;border-style: solid;border-width: 1px">
                    <a class="" href="#" target="_self" style="color: rgb(125, 191, 184);">

        <i class="eltd-icon-linear-icon lnr lnr-earth eltd-icon-element" style="font-size:32px"></i>
                    </a>
            </span>

                                            </div>
                                            <div class="eltd-iwt-content-holder" style="padding: 0 20px">
                                                <div class="eltd-iwt-title-holder">
                                                    <h4>
                                                        Imagine and Create </h4>
                                                </div>

                                                <div class="eltd-iwt-text-holder">
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                        accusa ntium doloremque.</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 20px"><span
                                                    class="vc_empty_space_inner"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="eltd-iwt eltd-iwt-icon-top eltd-iwt-circle-holder eltd-iwt-icon-tiny">
                                            <div class="eltd-iwt-icon-holder">

    <span class="eltd-icon-shortcode circle"
          style="width: 95px;height: 95px;line-height: 95px;border-style: solid;border-width: 1px">
                    <a class="" href="#" target="_self" style="color: rgb(125, 191, 184);">

        <i class="eltd-icon-linear-icon lnr lnr-gift eltd-icon-element" style="font-size:32px"></i>
                    </a>
            </span>

                                            </div>
                                            <div class="eltd-iwt-content-holder" style="padding: 0 20px">
                                                <div class="eltd-iwt-title-holder">
                                                    <h4>
                                                        Elated Design </h4>
                                                </div>

                                                <div class="eltd-iwt-text-holder">
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                        accusa ntium doloremque.</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 20px"><span
                                                    class="vc_empty_space_inner"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="eltd-iwt eltd-iwt-icon-top eltd-iwt-circle-holder eltd-iwt-icon-tiny">
                                            <div class="eltd-iwt-icon-holder">

    <span class="eltd-icon-shortcode circle"
          style="width: 95px;height: 95px;line-height: 95px;border-style: solid;border-width: 1px">
                    <a class="" href="#" target="_self" style="color: rgb(125, 191, 184);">

        <i class="eltd-icon-linear-icon lnr lnr-phone eltd-icon-element" style="font-size:32px"></i>
                    </a>
            </span>

                                            </div>
                                            <div class="eltd-iwt-content-holder" style="padding: 0 20px">
                                                <div class="eltd-iwt-title-holder">
                                                    <h4>
                                                        Cups Of Coffee </h4>
                                                </div>

                                                <div class="eltd-iwt-text-holder">
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                        accusa ntium doloremque.</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 20px"><span
                                                    class="vc_empty_space_inner"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1468326669616 eltd-content-aligment-center eltd-grid-section"
                     style="">
                    <div class="clearfix eltd-section-inner">
                        <div class="eltd-section-inner-margin clearfix">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum.

                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum.
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum.
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum.
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum.
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- close div.content_inner -->
</div>
<script>
    $(function () {
        $(".eltd-typed").typed({
            strings: ["About Us.", "Our story.", "About Us."],
            typeSpeed: 0
        });
    });
</script>
<% include footer %>