<% include header %>
<link rel="stylesheet" href="/css/contacts.css" type="text/css" />
<div class="eltd-content">
    <div class="eltd-meta">
        <div class="eltd-seo-title">About Us – Obsidian roads</div>
    </div>
    <div class="eltd-content-inner">
        <div class="eltd-title eltd-standard-type eltd-type-out-yes eltd-has-background eltd-has-parallax-background eltd-content-left-alignment eltd-animation-no eltd-title-image-not-responsive"
             style="height: 564px; background-color: rgb(235, 235, 235); background-image: url(&quot;http://woly.elated-themes.com/wp-content/uploads/2016/06/Our-Team-12.jpg&quot;); background-position: center 0px;"
             data-height="564" data-background-width="&quot;1920&quot;">
            <div class="eltd-title-image"><img
                        src="http://woly.elated-themes.com/wp-content/uploads/2016/06/Our-Team-12.jpg" alt="&nbsp;">
            </div>
            <div class="eltd-title-holder" style="height:564px;">
                <div class="eltd-container clearfix">
                    <div class="eltd-container-inner">
                        <div class="eltd-title-subtitle-holder" style="">
                            <div class="eltd-title-subtitle-holder-inner">
                                <h1 style="color:#ffffff" class="eltd-title-size-large">
                                    <span>About Us</span>
                                    <span class="eltd-typed-wrap  eltd-typing" style="display:inline">
                                        <span class="eltd-typed"
                                              style="background-color: #333;color: #fff;display: inline;">A</span><span
                                                class="typed-cursor"></span>
                                    </span>
                                </h1>
                                <span class="eltd-subtitle" style="color:#ffffff;">
                                    <span>
                                        <%=__('ABOUT_US_PAGE_HEADER_2')%>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="eltd-full-width">
            <div class="eltd-full-width-inner">
                <div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1468326669616 eltd-content-aligment-center eltd-grid-section"
                     style="">
                    <div class="clearfix eltd-section-inner">
                        <div class="eltd-section-inner-margin clearfix">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p style="text-align: left;">
                                        <%=__('ABOUT_PAGE_TEXT')%>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- close div.content_inner -->
</div>
<script>
    $(function () {
        $(".eltd-typed").typed({
            strings: ["About Us.", "Our story.", "About Us."],
            typeSpeed: 0
        });
    });
</script>
<% include footer %>