<% include header %>

<link rel="stylesheet" href="/css/contacts.css" type="text/css" />
<div class="eltd-content">
    <div class="eltd-meta">

        <div class="eltd-seo-title">Contact Us</div>

        <span id="eltd-page-id">1729</span>
        <div class="eltd-body-classes">
            page,page-id-1729,page-template,page-template-full-width,page-template-full-width-php,eltd-core-1.0,woocommerce-wishlist,woocommerce,woocommerce-page,woly-ver-1.0,eltd-smooth-scroll,eltd-smooth-page-transitions,eltd-mimic-ajax,eltd-grid-1200,eltd-blog-installed,eltd-main-style1,eltd-disable-fullscreen-menu-opener,eltd-header-standard,eltd-sticky-header-on-scroll-up,eltd-default-mobile-header,eltd-sticky-up-mobile-header,eltd-menu-item-first-level-bg-color,eltd-dropdown-default,eltd-,eltd-header-standard-disable-transparency,eltd-fullscreen-search
            eltd-search-fade,eltd-woocommerce-columns-3,wpb-js-composer js-comp-ver-4.12,vc_responsive
        </div>
    </div>
    <div class="eltd-content-inner">
        <div class="eltd-title eltd-standard-type eltd-type-out-yes eltd-has-background eltd-has-parallax-background eltd-content-left-alignment eltd-animation-no eltd-title-image-not-responsive"
             style="height: 564px; background-color: rgb(235, 235, 235); background-image: url(&quot;http://woly.elated-themes.com/wp-content/uploads/2016/06/Contact-1.jpg&quot;); background-position: center 0px;"
             data-height="564" data-background-width="&quot;1920&quot;">
            <div class="eltd-title-image"><img
                        src="http://woly.elated-themes.com/wp-content/uploads/2016/06/Contact-1.jpg" alt="&nbsp;"></div>
            <div class="eltd-title-holder" style="height:564px;">
                <div class="eltd-container clearfix">
                    <div class="eltd-container-inner">
                        <div class="eltd-title-subtitle-holder" style="">
                            <div class="eltd-title-subtitle-holder-inner">
                                <h1 class="eltd-title-size-large">
                                    <span>Contact</span>
                                    <span class="eltd-typed-wrap  eltd-typing" style="display:inline">
                                        <span class="eltd-typed"
                                              style="background-color: #333;color: #fff;display: inline;">C</span>
                                        <span class="typed-cursor"></span>
                                    </span>
                                </h1>
                                <span class="eltd-subtitle" style="color:#333333;"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm<br>tempor incididunt ut labore et dolore magna iscing elit, sed do eiusmod<br>tempor inci sed do eiusmod tempor sed do eiusmod. </span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="eltd-full-width">
            <div class="eltd-full-width-inner">
                <div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1470647350530 eltd-content-aligment-left eltd-grid-section"
                     style="">
                    <div class="clearfix eltd-section-inner">
                        <div class="eltd-section-inner-margin clearfix">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="eltd-elements-holder eltd-responsive-mode-768">
                                            <div class="eltd-elements-holder-item eltd-vertical-alignment-top">
                                                <div class="eltd-elements-holder-item-inner">
                                                    <div class="eltd-elements-holder-item-content eltd-elements-holder-custom-518934"
                                                         style="padding: 0px">

                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <h1>Contact Us</h1>

                                                            </div>
                                                        </div>
                                                        <div class="vc_empty_space" style="height: 8px"><span
                                                                    class="vc_empty_space_inner"></span></div>

                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p style="text-align: left;">Sed ut perspiciatis unde
                                                                    omnis iste natus error voluptatem accusantium
                                                                    doloremque laudantium, totam rem aperiam.</p>

                                                            </div>
                                                        </div>
                                                        <div class="vc_empty_space" style="height: 16px"><span
                                                                    class="vc_empty_space_inner"></span></div>
                                                        <div data-eltd-parallax-speed="1"
                                                             class="vc_row wpb_row vc_inner vc_row-fluid eltd-section eltd-content-aligment-left"
                                                             style="">
                                                            <div class="eltd-full-section-inner">
                                                                <div class="wpb_column vc_column_container vc_col-sm-2">
                                                                    <div class="vc_column-inner ">
                                                                        <div class="wpb_wrapper">
                                                                            <div class="wpb_text_column wpb_content_element ">
                                                                                <div class="wpb_wrapper">
                                                                                    <h6><span style="color: #444444;">phone</span>
                                                                                    </h6>

                                                                                </div>
                                                                            </div>
                                                                            <div class="vc_empty_space"
                                                                                 style="height: 10px"><span
                                                                                        class="vc_empty_space_inner"></span>
                                                                            </div>

                                                                            <div class="wpb_text_column wpb_content_element ">
                                                                                <div class="wpb_wrapper">
                                                                                    <h6><span style="color: #444444;">e-mail</span>
                                                                                    </h6>

                                                                                </div>
                                                                            </div>
                                                                            <div class="vc_empty_space"
                                                                                 style="height: 10px"><span
                                                                                        class="vc_empty_space_inner"></span>
                                                                            </div>

                                                                            <div class="wpb_text_column wpb_content_element ">
                                                                                <div class="wpb_wrapper">
                                                                                    <h6><span style="color: #444444;">address</span>
                                                                                    </h6>

                                                                                </div>
                                                                            </div>
                                                                            <div class="vc_empty_space"
                                                                                 style="height: 10px"><span
                                                                                        class="vc_empty_space_inner"></span>
                                                                            </div>

                                                                            <div class="wpb_text_column wpb_content_element ">
                                                                                <div class="wpb_wrapper">
                                                                                    <h6><span style="color: #444444;">follow us</span>
                                                                                    </h6>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="wpb_column vc_column_container vc_col-sm-10">
                                                                    <div class="vc_column-inner ">
                                                                        <div class="wpb_wrapper">
                                                                            <div class="wpb_text_column wpb_content_element ">
                                                                                <div class="wpb_wrapper">
                                                                                    <p>+387648592568</p>

                                                                                </div>
                                                                            </div>
                                                                            <div class="vc_empty_space"
                                                                                 style="height: 6px"><span
                                                                                        class="vc_empty_space_inner"></span>
                                                                            </div>

                                                                            <div class="wpb_text_column wpb_content_element ">
                                                                                <div class="wpb_wrapper">
                                                                                    <p>info@elated-themes.com</p>

                                                                                </div>
                                                                            </div>
                                                                            <div class="vc_empty_space"
                                                                                 style="height: 6px"><span
                                                                                        class="vc_empty_space_inner"></span>
                                                                            </div>

                                                                            <div class="wpb_text_column wpb_content_element ">
                                                                                <div class="wpb_wrapper">
                                                                                    <p>Eighth Avenue 487, New York</p>

                                                                                </div>
                                                                            </div>
                                                                            <div class="vc_empty_space"
                                                                                 style="height: 17px"><span
                                                                                        class="vc_empty_space_inner"></span>
                                                                            </div>

                                                                            <span class="eltd-icon-shortcode normal"
                                                                                  style="margin: 0 16px 0 0 "
                                                                                  data-hover-color="#7dbfb8"
                                                                                  data-color="#a2a2a2">
                    <a class="" href="https://vimeo.com/" target="_blank">

        <span aria-hidden="true" class="eltd-icon-font-elegant social_vimeo eltd-icon-element"
              style="color: #a2a2a2;font-size:11px"></span>
                    </a>
            </span>


                                                                            <span class="eltd-icon-shortcode normal"
                                                                                  style="margin: 0 16px 0 0 "
                                                                                  data-hover-color="#7dbfb8"
                                                                                  data-color="#a2a2a2">
                    <a class="" href="http://instagram.com" target="_blank">

        <span aria-hidden="true" class="eltd-icon-font-elegant social_instagram eltd-icon-element"
              style="color: #a2a2a2;font-size:11px"></span>
                    </a>
            </span>


                                                                            <span class="eltd-icon-shortcode normal"
                                                                                  style="margin: 0 16px 0 0 "
                                                                                  data-hover-color="#7dbfb8"
                                                                                  data-color="#a2a2a2">
                    <a class="" href="http://twitter.com" target="_blank">

        <span aria-hidden="true" class="eltd-icon-font-elegant social_twitter eltd-icon-element"
              style="color: #a2a2a2;font-size:11px"></span>
                    </a>
            </span>


                                                                            <span class="eltd-icon-shortcode normal"
                                                                                  style="margin: 0 16px 0 0 "
                                                                                  data-hover-color="#7dbfb8"
                                                                                  data-color="#a2a2a2">
                    <a class="" href="http://www.facebook.com" target="_blank">

        <span aria-hidden="true" class="eltd-icon-font-elegant social_facebook eltd-icon-element"
              style="color: #a2a2a2;font-size:11px"></span>
                    </a>
            </span>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="vc_empty_space" style="height: 40px"><span
                                                                    class="vc_empty_space_inner"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="vc_empty_space" style="height: 28px"><span
                                                    class="vc_empty_space_inner"></span></div>
                                        <div role="form" class="wpcf7" id="wpcf7-f280-p1729-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response"></div>
                                            <form action="/contact/#wpcf7-f280-p1729-o1" method="post"
                                                  class="wpcf7-form cf7_custom_style_1" novalidate="novalidate">
                                                <div style="display: none;">
                                                    <input type="hidden" name="_wpcf7" value="280">
                                                    <input type="hidden" name="_wpcf7_version" value="4.5">
                                                    <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                    <input type="hidden" name="_wpcf7_unit_tag"
                                                           value="wpcf7-f280-p1729-o1">
                                                    <input type="hidden" name="_wpnonce" value="ad1159a266">
                                                </div>
                                                <p><span class="wpcf7-form-control-wrap your-name"><input type="text"
                                                                                                          name="your-name"
                                                                                                          value=""
                                                                                                          size="40"
                                                                                                          class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                                          aria-required="true"
                                                                                                          aria-invalid="false"
                                                                                                          placeholder="Name*"></span>
                                                </p>
                                                <p><span class="wpcf7-form-control-wrap your-email"><input type="email"
                                                                                                           name="your-email"
                                                                                                           value=""
                                                                                                           size="40"
                                                                                                           class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                                           aria-required="true"
                                                                                                           aria-invalid="false"
                                                                                                           placeholder="E-mail*"></span>
                                                </p>
                                                <div><span class="wpcf7-form-control-wrap your-message"><textarea
                                                                name="your-message" cols="40" rows="5"
                                                                class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                                aria-required="true" aria-invalid="false"
                                                                placeholder="Message*"></textarea><grammarly-btn><div
                                                                    style="visibility: hidden; z-index: 2;"
                                                                    class="_9b5ef6-textarea_btn _9b5ef6-not_focused"
                                                                    data-grammarly-reactid=".0"><div
                                                                        class="_9b5ef6-transform_wrap"
                                                                        data-grammarly-reactid=".0.0"><div
                                                                            title="Protected by Grammarly"
                                                                            class="_9b5ef6-status"
                                                                            data-grammarly-reactid=".0.0.0">&nbsp;</div></div></div></grammarly-btn></span>
                                                </div>
                                                <p><input type="submit" value="Contact Us"
                                                          class="wpcf7-form-control wpcf7-submit"><img
                                                            class="ajax-loader"
                                                            src="http://woly.elated-themes.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif"
                                                            alt="Sending ..." style="visibility: hidden;"></p>
                                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                                            </form>
                                        </div>
                                        <div class="vc_empty_space" style="height: 40px"><span
                                                    class="vc_empty_space_inner"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid eltd-section eltd-content-aligment-left" style="">
                    <div class="clearfix eltd-full-section-inner">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="eltd-google-map-holder">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- close div.content_inner -->
</div>
<script>
    $(function () {
        $(".eltd-typed").typed({
            strings: ["Contact Us.", "Or just say hi."],
            typeSpeed: 0
        });
    });
</script>
<% include footer %>