<footer style="background-image: url();">
    <div class="eltd-footer-inner clearfix">

        <div class="eltd-footer-top-holder">
            <div class="eltd-footer-top eltd-footer-top-aligment-center">

                <div class="eltd-container">
                    <div class="eltd-container-inner">

                        <div class="eltd-four-columns clearfix">
                            <div class="eltd-four-columns-inner">
                                <div class="eltd-column">
                                    <div class="eltd-column-inner">
                                        <div class="widget eltd-footer-column-1 widget_text">
                                            Yerevan, Armenia
                                        </div>
                                    </div>
                                </div>

                                <div class="eltd-column">
                                    <div class="eltd-column-inner">
                                        <div class="widget eltd-footer-column-2 widget_text">
                                            <div style="visibility: hidden;">sdfsfdg</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="eltd-column">
                                    <div class="eltd-column-inner">
                                        <div class="widget eltd-footer-column-3 widget_text">
                                            <div style="visibility: hidden;">sdfsfdg</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="eltd-column">
                                    <div class="eltd-column-inner">
                                        <div class="widget eltd-footer-column-4 widget_text">
                                            <div id="eltd_social_icon_widget-15"
                                                 class="widget eltd-footer-column-1 widget_eltd_social_icon_widget">
            <span class="eltd-icon-shortcode normal" style="margin: 0 23px 0 0" data-hover-color="#7dbfb8" data-color="#e0e0e0">
                            <a class="" href="https://vimeo.com/" target="_blank">

                <span aria-hidden="true" class="eltd-icon-font-elegant social_vimeo eltd-icon-element"
                      style="color: #e0e0e0;font-size:11px"></span>
                            </a>
                    </span>

                                            </div>
                                            <div id="eltd_social_icon_widget-16"
                                                 class="widget eltd-footer-column-1 widget_eltd_social_icon_widget">
            <span class="eltd-icon-shortcode normal" style="margin: 0 23px 0 0" data-hover-color="#7dbfb8" data-color="#e0e0e0">
                            <a class="" href="http://instagram.com" target="_blank">

                <span aria-hidden="true" class="eltd-icon-font-elegant social_instagram eltd-icon-element"
                      style="color: #e0e0e0;font-size:11px"></span>
                            </a>
                    </span>

                                            </div>
                                            <div id="eltd_social_icon_widget-17"
                                                 class="widget eltd-footer-column-1 widget_eltd_social_icon_widget">
            <span class="eltd-icon-shortcode normal" style="margin: 0 23px 0 0" data-hover-color="#7dbfb8" data-color="#e0e0e0">
                            <a class="" href="http://instagram.com" target="_blank">

                <span aria-hidden="true" class="eltd-icon-font-elegant social_twitter eltd-icon-element"
                      style="color: #e0e0e0;font-size:11px"></span>
                            </a>
                    </span>

                                            </div>
                                            <div id="eltd_social_icon_widget-18"
                                                 class="widget eltd-footer-column-1 widget_eltd_social_icon_widget">
            <span class="eltd-icon-shortcode normal" style="margin: 0 18px 0 0" data-hover-color="#7dbfb8" data-color="#e0e0e0">
                            <a class="" href="https://www.pinterest.com" target="_blank">

                <span aria-hidden="true" class="eltd-icon-font-elegant social_pinterest eltd-icon-element"
                      style="color: #e0e0e0;font-size:11px"></span>
                            </a>
                    </span>

                                            </div>
                                            <div id="eltd_social_icon_widget-19"
                                         class="widget eltd-footer-column-1 widget_eltd_social_icon_widget">
    <span class="eltd-icon-shortcode normal" style="margin: 0 0 0 0" data-hover-color="#7dbfb8" data-color="#e0e0e0">
                    <a class="" href="http://www.facebook.com" target="_blank">

        <span aria-hidden="true" class="eltd-icon-font-elegant social_facebook eltd-icon-element"
              style="color: #e0e0e0;font-size:11px"></span>
                    </a>
            </span>

                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="eltd-footer-bottom-holder">
            <div class="eltd-footer-bottom-holder-inner">
                <div class="eltd-container">
                    <div class="eltd-container-inner">

                        <div class="eltd-column-inner">
                            <div id="text-10" class="widget eltd-footer-text widget_text">
                                <div class="textwidget">
                                    <div class="vc_empty_space" style="height: 20px"><span
                                                class="vc_empty_space_inner"></span></div>

                                    @2016. All Rights Reserved
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</div> <!-- close div.eltd-wrapper-inner  -->
</div> <!-- close div.eltd-wrapper -->


<script src="/js/common.js"></script>
<link rel='stylesheet' id='mediaelement-css' href='/themes/woly/assets/css/mediaelementplayer.min.css' type='text/css'
      media='all'/>
<link rel='stylesheet' id='wp-mediaelement-css' href='/themes/woly/assets/css/wp-mediaelement.min.css' type='text/css'
      media='all'/>

<script type='text/javascript'>
    /* <![CDATA[ */
    var mejsL10n = {
      "language": "en-US",
      "strings": {
        "Close": "Close",
        "Fullscreen": "Fullscreen",
        "Turn off Fullscreen": "Turn off Fullscreen",
        "Go Fullscreen": "Go Fullscreen",
        "Download File": "Download File",
        "Download Video": "Download Video",
        "Play": "Play",
        "Pause": "Pause",
        "Captions\/Subtitles": "Captions\/Subtitles",
        "None": "None",
        "Time Slider": "Time Slider",
        "Skip back %1 seconds": "Skip back %1 seconds",
        "Video Player": "Video Player",
        "Audio Player": "Audio Player",
        "Volume Slider": "Volume Slider",
        "Mute Toggle": "Mute Toggle",
        "Unmute": "Unmute",
        "Mute": "Mute",
        "Use Up\/Down Arrow keys to increase or decrease volume.": "Use Up\/Down Arrow keys to increase or decrease volume.",
        "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.": "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds."
      }
    };
    var _wpmejsSettings = {"pluginPath": "\/wp-includes\/js\/mediaelement\/"};
    /* ]]> */
</script>
<script type='text/javascript' src='/themes/woly/assets/js/mediaelementplayer.min.js'></script>
<script type='text/javascript' src='/themes/woly/assets/js/mediaelement.min.js'></script>

<style type="text/css">
    .widget_eltd_social_icon_widget {
        margin-top:0!important;
    }
    footer .eltd-footer-top:not(.eltd-footer-top-full) .eltd-container-inner {
        padding: 15px 0 10px;
    }
    .vc_custom_1477222054071 {
        padding-top: 122px !important;
        padding-bottom: 72px !important;
    }

    .vc_custom_1477222070529 {
        padding-top: 125px !important;
        padding-bottom: 130px !important;
        background-image: url(/images/individual-trip.jpg) !important;
    }

    .vc_custom_1476664551936 {
        padding-top: 130px !important;
        padding-bottom: 75px !important;
    }

    .vc_custom_1477222093879 {
        padding-bottom: 110px !important;
    }

    .vc_custom_1467811468687 {
        padding-right: 10% !important;
        padding-left: 10% !important;
    }

    .vc_custom_1472595550411 {
        padding-right: 10% !important;
        padding-left: 10% !important;
    }

    .vc_custom_1467811495002 {
        padding-right: 10% !important;
        padding-left: 10% !important;
    }</style>
<noscript>
    <style type="text/css"> .wpb_animate_when_almost_visible {
            opacity: 1;
        }</style>
</noscript>


<script type='text/javascript' src='/js/jqueryui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript' src='/js/jqueryui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='/js/jqueryui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='/js/jqueryui/tabs.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='/js/jqueryui/accordion.min.js?ver=1.11.4'></script>
<!--<script type='text/javascript' src='http://www.obsidianroad.com/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=2.22.0'></script>-->
<!--<script type='text/javascript' src='http://www.obsidianroad.com/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.7'></script>-->
<script type='text/javascript' src='/themes/woly/assets/js/third-party.min.js?ver=4.7'></script>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<!--<script type='text/javascript' src='http://www.obsidianroad.com/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min.js?ver=4.12'></script>-->
<script type='text/javascript' src='/themes/woly/assets/js/smoothPageScroll.js?ver=4.7'></script>

<!--<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?ver=4.7'></script>-->
<script type='text/javascript'>
    /* <![CDATA[ */
    var eltdGlobalVars = {
      "vars": {
        "eltdAddForAdminBar": 0,
        "eltdElementAppearAmount": -150,
        "eltdFinishedMessage": "No more posts",
        "eltdMessage": "Loading new posts...",
        "eltdTopBarHeight": 0,
        "eltdStickyHeaderHeight": 0,
        "eltdStickyHeaderTransparencyHeight": 60,
        "eltdStickyScrollAmount": 0,
        "eltdLogoAreaHeight": 0,
        "eltdMenuAreaHeight": 96,
        "eltdMobileHeaderHeight": 100
      }
    };
    var eltdPerPageVars = {"vars": {"eltdStickyScrollAmount": 0, "eltdHeaderTransparencyHeight": 0}};
    /* ]]> */
</script>
<script type='text/javascript' src='/themes/woly/assets/js/modules.min.js?ver=4.7'></script>
<!--<script type='text/javascript' src='/themes/woly/assets/js/blog.min.js?ver=4.7'></script>-->
<!--<script type='text/javascript' src='http://www.obsidianroad.com/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=4.12'></script>-->
<script type='text/javascript'>
    /* <![CDATA[ */
    var eltdLike = {"ajaxurl": "http:\/\/www.obsidianroad.com\/wp-admin\/admin-ajax.php"};
    /* ]]> */
</script>
<script type='text/javascript' src='/themes/woly/assets/js/like.min.js?ver=1.0'></script>
<!--<script type='text/javascript' src='http://www.obsidianroad.com/wp-includes/js/wp-embed.min.js?ver=4.7'></script>-->
</body>
</html>