
<footer>
    <div class="eltd-footer-inner clearfix">


    </div>
</footer>

</div> <!-- close div.eltd-wrapper-inner  -->
</div> <!-- close div.eltd-wrapper -->


<script src="/js/common.js"></script>
<link rel='stylesheet' id='mediaelement-css'  href='http://www.obsidianroad.com/wp-includes/js/mediaelement/mediaelementplayer.min.css?ver=2.22.0' type='text/css' media='all' />
<link rel='stylesheet' id='wp-mediaelement-css'  href='http://www.obsidianroad.com/wp-includes/js/mediaelement/wp-mediaelement.min.css?ver=4.7' type='text/css' media='all' />

<script type='text/javascript'>
    /* <![CDATA[ */
    var mejsL10n = {"language":"en-US","strings":{"Close":"Close","Fullscreen":"Fullscreen","Turn off Fullscreen":"Turn off Fullscreen","Go Fullscreen":"Go Fullscreen","Download File":"Download File","Download Video":"Download Video","Play":"Play","Pause":"Pause","Captions\/Subtitles":"Captions\/Subtitles","None":"None","Time Slider":"Time Slider","Skip back %1 seconds":"Skip back %1 seconds","Video Player":"Video Player","Audio Player":"Audio Player","Volume Slider":"Volume Slider","Mute Toggle":"Mute Toggle","Unmute":"Unmute","Mute":"Mute","Use Up\/Down Arrow keys to increase or decrease volume.":"Use Up\/Down Arrow keys to increase or decrease volume.","Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.":"Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds."}};
    var _wpmejsSettings = {"pluginPath":"\/wp-includes\/js\/mediaelement\/"};
    /* ]]> */
</script>
<script type='text/javascript' src='http://www.obsidianroad.com/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=2.22.0'></script>
<script type='text/javascript' src='http://www.obsidianroad.com/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.7'></script>

<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1477222054071 {
        padding-top: 122px !important;
        padding-bottom: 72px !important;
    }

    .vc_custom_1477222070529 {
        padding-top: 125px !important;
        padding-bottom: 130px !important;
        background-image: url(http://howtostartblogfree.com/wp-content/uploads/2016/06/14152227_1237932722904087_1704628412_o.jpg?id=8092) !important;
    }

    .vc_custom_1476664551936 {
        padding-top: 130px !important;
        padding-bottom: 75px !important;
    }

    .vc_custom_1477222093879 {
        padding-bottom: 110px !important;
    }

    .vc_custom_1467811468687 {
        padding-right: 10% !important;
        padding-left: 10% !important;
    }

    .vc_custom_1472595550411 {
        padding-right: 10% !important;
        padding-left: 10% !important;
    }

    .vc_custom_1467811495002 {
        padding-right: 10% !important;
        padding-left: 10% !important;
    }</style>
<noscript>
    <style type="text/css"> .wpb_animate_when_almost_visible {
            opacity: 1;
        }</style>
</noscript>



<script type='text/javascript' src='/js/jqueryui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript' src='/js/jqueryui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='/js/jqueryui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='/js/jqueryui/tabs.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='/js/jqueryui/accordion.min.js?ver=1.11.4'></script>
<!--<script type='text/javascript' src='http://www.obsidianroad.com/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=2.22.0'></script>-->
<!--<script type='text/javascript' src='http://www.obsidianroad.com/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.7'></script>-->
<script type='text/javascript' src='/themes/woly/assets/js/third-party.min.js?ver=4.7'></script>
<!--<script type='text/javascript' src='http://www.obsidianroad.com/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min.js?ver=4.12'></script>-->
<script type='text/javascript' src='/themes/woly/assets/js/smoothPageScroll.js?ver=4.7'></script>

<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?ver=4.7'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var eltdGlobalVars = {"vars":{"eltdAddForAdminBar":0,"eltdElementAppearAmount":-150,"eltdFinishedMessage":"No more posts","eltdMessage":"Loading new posts...","eltdTopBarHeight":0,"eltdStickyHeaderHeight":0,"eltdStickyHeaderTransparencyHeight":60,"eltdStickyScrollAmount":0,"eltdLogoAreaHeight":0,"eltdMenuAreaHeight":96,"eltdMobileHeaderHeight":100}};
    var eltdPerPageVars = {"vars":{"eltdStickyScrollAmount":0,"eltdHeaderTransparencyHeight":0}};
    /* ]]> */
</script>
<script type='text/javascript' src='/themes/woly/assets/js/modules.min.js?ver=4.7'></script>
<!--<script type='text/javascript' src='/themes/woly/assets/js/blog.min.js?ver=4.7'></script>-->
<!--<script type='text/javascript' src='http://www.obsidianroad.com/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=4.12'></script>-->
<script type='text/javascript'>
    /* <![CDATA[ */
    var eltdLike = {"ajaxurl":"http:\/\/www.obsidianroad.com\/wp-admin\/admin-ajax.php"};
    /* ]]> */
</script>
<script type='text/javascript' src='/themes/woly/assets/js/like.min.js?ver=1.0'></script>
<!--<script type='text/javascript' src='http://www.obsidianroad.com/wp-includes/js/wp-embed.min.js?ver=4.7'></script>-->
</body>
</html>