<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta charset="UTF-8"/>
    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    <link rel="pingback" href="http://www.obsidianroad.com/xmlrpc.php"/>

    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <title>Obsidian road &#8211; Just another WordPress site</title>
    <meta name='robots' content='noindex,follow'/>
    <!--<link rel='dns-prefetch' href='//maps.googleapis.com'/>-->
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel="alternate" type="application/rss+xml" title="Obsidian road &raquo; Feed"
          href="http://www.obsidianroad.com/feed/"/>
    <link rel="alternate" type="application/rss+xml" title="Obsidian road &raquo; Comments Feed"
          href="http://www.obsidianroad.com/comments/feed/"/>
    <link rel='stylesheet' id='rs-plugin-settings-css'
          href='/themes/woly/plugins/revslider/public/assets/css/settings.css?ver=5.2.6'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='woly_elated_default_style-css'
          href='/themes/woly/style.css?ver=4.7' type='text/css' media='all'/>
    <link rel='stylesheet' id='woly_elated_modules_plugins-css' href='/themes/woly/assets/css/plugins.min.css?ver=4.7'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='woly_elated_modules-css' href='/themes/woly/assets/css/modules.min.css?ver=4.7'
          type='text/css' media='all'/>
    <style id='woly_elated_modules-inline-css' type='text/css'>
        body.eltd-main-style4 .eltd-content h2, body.eltd-main-style4 .eltd-section-title, body.eltd-main-style4 .countdown-amount {
            font-family: Raleway;
            font-weight: 400;
        }

        .eltd-header-standard .eltd-menu-area {
            background-color: rgba(255, 255, 255, 0) !important;
        }
    </style>
    <link rel='stylesheet' id='eltd_font_awesome-css'
          href='/themes/woly/assets/css/font-awesome/css/font-awesome.min.css?ver=4.7' type='text/css' media='all'/>
    <link rel='stylesheet' id='eltd_font_elegant-css' href='/themes/woly/assets/css/elegant-icons/style.min.css?ver=4.7'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='eltd_ion_icons-css' href='/themes/woly/assets/css/ion-icons/css/ionicons.min.css?ver=4.7'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='eltd_linea_icons-css' href='/themes/woly/assets/css/linea-icons/style.css?ver=4.7'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='eltd_simple_line_icons-css'
          href='/themes/woly/assets/css/simple-line-icons/simple-line-icons.css?ver=4.7' type='text/css' media='all'/>
    <link rel='stylesheet' id='eltd_dripicons-css' href='/themes/woly/assets/css/dripicons/dripicons.css?ver=4.7'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='eltd_linear_icons-css' href='/themes/woly/assets/css/linear-icons/style.css?ver=4.7'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='woly_elated_blog-css' href='/themes/woly/assets/css/blog.min.css?ver=4.7' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='eltd_woocommerce-css' href='/themes/woly/assets/css/woocommerce.min.css?ver=4.7'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='eltd_woocommerce_responsive-css'
          href='/themes/woly/assets/css/woocommerce-responsive.min.css?ver=4.7' type='text/css' media='all'/>
    <link rel='stylesheet' id='woly_elated_style_dynamic-css'
          href='/themes/woly/assets/css/style_dynamic.css?ver=1480160323' type='text/css' media='all'/>
    <link rel='stylesheet' id='woly_elated_modules_responsive-css'
          href='/themes/woly/assets/css/modules-responsive.min.css?ver=4.7' type='text/css' media='all'/>
    <link rel='stylesheet' id='woly_elated_blog_responsive-css'
          href='/themes/woly/assets/css/blog-responsive.min.css?ver=4.7' type='text/css' media='all'/>
    <link rel='stylesheet' id='woly_elated_style_dynamic_responsive-css'
          href='/themes/woly/assets/css/style_dynamic_responsive.css?ver=1480160323' type='text/css' media='all'/>
    <link rel='stylesheet' id='woly_elated_google_fonts-css'
          href='//fonts.googleapis.com/css?family=Open+Sans%3A100%2C300%2C400%2C500%2C700%7CNixie+One%3A100%2C300%2C400%2C500%2C700%7CRoboto+Slab%3A100%2C300%2C400%2C500%2C700%7CPlayfair+Display%3A100%2C300%2C400%2C500%2C700%7CRaleway%3A100%2C300%2C400%2C500%2C700&#038;subset=latin-ext&#038;ver=1.0.0'
          type='text/css' media='all'/>
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script type='text/javascript'
            src='/themes/woly/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript'
            src='/themes/woly/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.2.6'></script>
    <script type='text/javascript'
            src='/themes/woly/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.2.6'></script>

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"/>
    <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css"
          media="screen"/>
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css"
          media="screen"/>
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all"/>
    <% if(typeof headerStyle === 'undefined' || headerStyle !== 'white'){ %>
    <style>
        narrow, .eltd-main-menu > ul > li > a {
            color: black !important;
        }
        .eltd-position-right span {
            color: black !important;
        }
        .eltd-position-right ul li a {
            color: black !important;
        }
    </style>
    <% } %>
    <style>
        .sticky ul > li > a {
            color: black !important;
        }

        #quantity {
            font-size: 15px;
            color: #676767;
            font-weight: 600;
            margin: 0;
        }
    </style>
</head>

<body class="home page-template page-template-full-width page-template-full-width-php page page-id-7531 eltd-core-1.0 woly-ver-1.0 eltd-smooth-scroll  eltd-grid-1200 eltd-blog-installed eltd-main-style4 eltd-header-standard eltd-sticky-header-on-scroll-down-up eltd-default-mobile-header eltd-sticky-up-mobile-header eltd-menu-item-first-level-bg-color eltd-dropdown-default eltd-light-header eltd-header-style-on-scroll eltd-header-standard-disable-transparency wpb-js-composer js-comp-ver-4.12 vc_responsive">

<div class="eltd-wrapper">
    <div class="eltd-wrapper-inner">
        <div class="eltd-fullscreen-search-holder eltd-animate" id="search-animate">
            <div class="eltd-fullscreen-search-close-container" id="search-closer">
                <div class="eltd-search-close-holder">
                    <a class="eltd-fullscreen-search-close" href="javascript:void(0)" style="top: 38px; left: 1210.19px;">
                        <span aria-hidden="true" class="eltd-icon-font-elegant icon_close "></span>			</a>
                </div>
            </div>
            <div class="eltd-fullscreen-search-table">
                <div class="eltd-fullscreen-search-cell">
                    <div class="eltd-fullscreen-search-inner">
                        <form action="/tours" class="eltd-fullscreen-search-form" method="get">
                            <div class="eltd-form-holder">
                                <span class="eltd-search-label">Search</span>
                                <div class="eltd-field-holder">
                                    <input type="text" name="s" class="eltd-search-field" autocomplete="off">
                                    <div class="eltd-line"></div>
                                </div>
                                <input type="submit" class="eltd-search-submit" value="U">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <header class="eltd-page-header">
            <div class="eltd-menu-area">
                <div class="eltd-vertical-align-containers">
                    <div class="eltd-position-left">
                        <div class="eltd-position-left-inner">

                            <div class="eltd-logo-wrapper">
                                <a href="/" style="height: 120px;">
                                    <img class="eltd-normal-logo" src="/themes/woly/assets/img/logo.png" alt="Logo"/>
                                    <img class="eltd-dark-logo" src="/themes/woly/assets/img/logo.png"
                                         alt="Dark Logoo"/> <img class="eltd-light-logo"
                                                                 src="/themes/woly/assets/img/logo_white.png"
                                                                 alt="Light Logo"/> </a>
                            </div>

                        </div>
                    </div>
                    <div class="eltd-position-center">

                        <% include navigation/normal %>

                    </div>
                    <div class="eltd-position-right">
                        <div class="eltd-position-right-inner">
                            <div id="text-11" class="widget widget_text eltd-right-from-main-menu-widget">
                                <div class="textwidget">
                                    <div id="lang_sel1" class="lang_sel">
                                        <ul>
                                            <li>
                                                <a href="#" class="lang_sel_sel" id="selected-language"></a>
                                                <ul id="language">
                                                    <%languages.forEach(language=>{%>
                                                    <li data-lang="<%=language.name%>">
                                                        <a rel="alternate" hreflang="<%=language.name%>" href="#">
                                                            <%=language.name%>
                                                        </a>
                                                    </li>
                                                    <%})%>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="eltd_search_opener-2"
                                 class="widget widget_eltd_search_opener eltd-right-from-main-menu-widget"><a
                                        data-icon-close-same-position="yes" class="eltd-search-opener"
                                        href="javascript:void(0)">
                                    <span aria-hidden="true" class="eltd-icon-font-elegant icon_search "></span> <span
                                            class="eltd-search-icon-text">Search</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="eltd-sticky-header">
                <div class="eltd-sticky-holder">
                    <div class=" eltd-vertical-align-containers">
                        <div class="eltd-position-left">
                            <div class="eltd-position-left-inner">

                                <div class="eltd-logo-wrapper">
                                    <a href="/" style="height: 120px;">
                                        <img class="eltd-normal-logo" src="/themes/woly/assets/img/logo.png"
                                             alt="Logo"/>
                                        <img class="eltd-dark-logo" src="/themes/woly/assets/img/logo.png"
                                             alt="Dark Logoo"/> <img class="eltd-light-logo"
                                                                     src="/themes/woly/assets/img/logo_white.png"
                                                                     alt="Light Logo"/> </a>
                                </div>

                            </div>
                        </div>
                        <div class="eltd-position-center">
                            <div class="eltd-position-center-inner">

                                <% include navigation/sticky %>

                            </div>
                        </div>
                        <div class="eltd-position-right">
                            <div class="eltd-position-right-inner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>


        <header class="eltd-mobile-header">
            <div class="eltd-mobile-header-inner">
                <div class="eltd-mobile-header-holder">
                    <div class="eltd-grid">
                        <div class="eltd-vertical-align-containers">
                            <div class="eltd-mobile-menu-opener">
                                <a href="javascript:void(0)">
                    <span class="eltd-mobile-opener-icon-holder">
                        <i class="eltd-icon-font-awesome fa fa-bars "></i>                    </span>
                                </a>
                            </div>
                            <div class="eltd-position-center">
                                <div class="eltd-position-center-inner">

                                    <div class="eltd-mobile-logo-wrapper">
                                        <a href="http://www.obsidianroad.com/" style="height: 120px">
                                            <img src="/themes/woly/assets/img/logo.png" alt="Mobile Logo"/>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="eltd-position-right">
                                <div class="eltd-position-right-inner">
                                </div>
                            </div>
                        </div> <!-- close .eltd-vertical-align-containers -->
                    </div>
                </div>

                <nav class="eltd-mobile-nav">
                    <div class="eltd-grid">
                        <ul id="menu-main-2" class="">
                            <li id="mobile-menu-item-7534"
                                class="menu-item menu-item-type-custom menu-item-object-custom "><a href="#destinations"
                                                                                                    class=""><span>Destinations</span></a>
                            </li>
                            <li id="mobile-menu-item-7535"
                                class="menu-item menu-item-type-custom menu-item-object-custom "><a href="#trip"
                                                                                                    class=""><span>Your Trip</span></a>
                            </li>
                            <li id="mobile-menu-item-7536"
                                class="menu-item menu-item-type-custom menu-item-object-custom "><a href="#news"
                                                                                                    class=""><span>News</span></a>
                            </li>
                            <li id="mobile-menu-item-7562"
                                class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                        href="http://www.obsidianroad.com/tours/" class=""><span><%=__('tours')%></span></a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </header> <!-- close .eltd-mobile-header -->


        <a id='eltd-back-to-top' href='#'>
                <span class="eltd-icon-stack">
                     <span aria-hidden="true" class="eltd-icon-font-elegant arrow_up "></span>                </span>
        </a>
<script>
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    $("#selected-language").html(getCookie('lang'));
    $("#language li").on('click', function(){
        setCookie('lang', $(this).data('lang'), 365);
        window.location.reload();
    });

</script>