<%- include header %>

<div class="eltd-content" style="margin-top: -96px">
    <div class="eltd-content-inner">
        <% include slider %>

        <div class="eltd-full-width">
            <div class="eltd-full-width-inner">
                <% include favorite-tours %>
                <%include your-trip%>
            </div>
        </div>
    </div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->


<%- include footer %>