<div id="trip" data-eltd-parallax-speed="1" data-eltd-parallax-bgnd='false'
     class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1477222070529 eltd-content-aligment-center eltd-parallax-section-holder eltd-parallax-section-holder-touch-disabled eltd-grid-section"
     style="background-image:url();">
    <div class="clearfix eltd-section-inner">
        <div class="eltd-section-inner-margin clearfix">
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-2 vc_col-lg-8 vc_col-md-offset-1 vc_col-md-10">
                <div class="vc_column-inner vc_custom_1472595550411">
                    <div class="wpb_wrapper">
                        <div class="eltd-section-title-outer-holder" style="text-align: center">
                            <div class="eltd-section-title-title-holder">
                                <span class="eltd-section-title" style=";">
                                    Individual Tour
                                </span>
                            </div>

                            <div class="eltd-section-subtitle-holder">
                                <span class="eltd-section-subtitle" style=";">
                                    Create your own trip and make price request or order it!
                                </span>
                            </div>

                        </div>
                        <div class="vc_empty_space" style="height: 27px"><span
                                    class="vc_empty_space_inner"></span></div>
                        <a href="/individual-tour" target="_self" style="font-weight: 400"
                           class="eltd-btn eltd-btn-medium eltd-btn-solid eltd-btn-custom-hover-bg eltd-btn-custom-border-hover eltd-btn-custom-hover-color"
                           data-hover-bg-color="#ffffff" data-hover-color="#333333"
                           data-hover-border-color="#ffffff">
                            <span class="eltd-btn-text">Build Your Own Trip</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>